@media (min-width: 1200px) {
  .nav {
    &__desktop {
      &-link {
        font-size: 1.6rem;
      }
      &-logo {
        font-size: 2.5rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .nav {
    &__desktop {
      &-link {
        font-size: 1.6rem;
      }
      &-logo {
        font-size: 2.5rem;
      }
    }
  }
}
